@import './Vars.scss';
@import './Media.scss';

body {
  margin: 0;
  font-family: $theme-font;
  background: $main-color;
}

* {
  box-sizing: border-box;
}
.loading__title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
